/* Selectores*/

/*
    Selector universal  *.  

    Se usa para aplicar unas propiedades a todos los elementos de la página web.
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de etiqueta*/
h1{
    background: red;
    color: white;
    padding: 10px;
}

h2{
    background: #fff;
    color: blue;
}

a{
    text-decoration: none;
    font-size: 20px;
}

footer a{
    color: aqua;
}

/*
        Selector de id
    Se usa para dar estilo a los componentes que tienen un id.
*/

#descripcion{
    border: 2px rgb(51, 129, 129) solid;
    padding: 15px;
    border-radius: 15px;
}


/*
                    Selector de clase
    Usados para dar formato a los componentes que tienen asociada una clase
*/

.parrafoUno{
    font-style: italic;
}

.parrafoDos{
    font-style: normal;
    text-decoration: underline;
}

#descripcion .parrafoTres,#descripcion .parrafoCuatro{
    font-style: italic;
    color: blueviolet;
}

.parrafoTres, .parrafoCuatro{
    text-align: justify;
    font-weight: bold;
}




/*Selecciona el form de la sección con id usuario*/
#usuario form{
    border: 5px solid blue;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
}

/*Asigno un selector universal a los atributos del form*/
#usuario form *{
    /*una linea para cada elemento del form*/
    display: block;
}

/*
    Selector de atributo
*/

input[type="text"] {
    margin-bottom: 15px;
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    border-color: aqua;
}

input[type="submit"] {
    background:rgb(111, 231, 131);
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

body{
    background: #fff;
}